<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie name </title>
    <link rel="stylesheet" href="../css/singlemovie.css">
</head>
<body>
    <body>
        <div class="header">
          <div class="logo">
            <img src="" alt="LOGO" />
          </div>
          <div class="search">
            <div class="search">
              <input
                class="search-box"
                type="search"
                class="search-box"
                placeholder="Search"
              />
            </div>
          </div>
          <div class="button">
            <button type="button" class="sign-in-btn">Sign In</button>
          </div>
        </div>
        <div class="nav">
          <div class="Movies">
            <a href="">Movies</a>
          </div>
          <div class="Stream">
            <a href="">Stream</a>
          </div>
          <div class="Events">
            <a href="">Events</a>
          </div>
          <div class="Sports">
            <a href="">Sports</a>
          </div>
        </div>

        <div class="info">
            <div class="movie-info">
              <h2>Movie Title</h2> 
              <p>Description</p> 
              <p>Genre</p>
              <p>Language</p>
              <p>Release date </p>
              <p>Duration</p>
            </div>
            <div class="date">
              <label for="show-date">Select Show Date:</label>
              <input type="date" id="show-date" name="show-date"> 
            </div>
        </div>

        <hr>

        <h3>THEATERS</h3>

        <div class="TH1">
          <h4>Theatre name</h4>
          <p>Location</p>
          <hr>
          <div class="button">
            <button type="button" class="time-btn">TIME</button>
          </div>
        </div>

        <div class="TH1">
            <h4>Theatre name</h4>
            <p>Location</p>
            <hr>
            <div class="button">
              <button type="button" class="time-btn">TIME</button>
            </div>
          </div>

    <footer class="footer">
        <p>&copy; 2024 Ticket booking website. All rights reserved.</p>
    </footer>
        
          
</body>
</html>